<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your expenses{% endblock %}</title>

</head>
<header>
    {% block menu %}
    <a href="{% url 'expenses:all_income_expenses' %}">All income/expenses</a> |
    <a href="{% url 'expenses:add_new_entry' %}">Add new entry</a> |
     <a href="{% url 'expenses:all_income' %}">All income</a> |
    <a href="{% url 'expenses:choose_date' %}">Choose date</a> |
    <a href="{% url 'expenses:total' %}">Total</a>
    {% endblock %}

<html lang="en">


</html>