{% extends 'base.html' %}

{% block title %}Choose date{% endblock %}
{% block body %}

<h3>Please choose date</h3>
{% if flag %}
<p> Your income/expenses from {{ date_money_min }} to  {{ date_money_max }}</p>
    {% for entry in entries %}
    <p>
        {{ entry.type_inc_exp }}
        {{ entry.сategory }}
        {{ entry.summa }}
        {{ entry.currency }}
        {{ entry.date_money }}
    </p>
    {% endfor %}

{% else %}
    <form action="." method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_p }}

        </table>
        <input type="submit" value="Choose" class="btn btn-outline-info">

    </form>
{% endif %}

{% endblock %}