{% extends 'base.html' %}

{% block title %}All income/expenses{% endblock %}
{% block body %}

    <h2>All income/expenses</h2>

<table>
    <tr>
        <th>Source</th>
        <th>Category</th>
        <th>Summa</th>
        <th>Currency</th>
        <th>Date_income/expenses</th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ entry.type_inc_exp }}</td>
        <td>{{ entry.сategory }}</td>
        <td>{{ entry.summa }}</td>
        <td>{{ entry.currency }}</td>
        <td>{{ entry.date_money }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}